h2,.corder{
    text-align: center;
}

.lbtns{
    text-align: right;
    align-items: right;
}

.rbtns{
    text-align: left;
    align-items: left;
}

body{
    background-image: url("https://images.unsplash.com/photo-1578916171728-46686eac8d58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80");
    background-size: cover; 
  }

thead{
    background-color: rgba(255, 255, 255, 0.5);
}

tbody{
    background-color: rgba(255, 255, 255, 0.3);
}

.btn{
    background-color: rgb(224, 182, 64);
    color: black;
}

h2{
    font-weight: bolder;
    font-size: xx-large;
}

/* Styling for the modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for the modal */
  .modal {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    display: none;
  }

